<main>
    <h1 class="mb-10">Annonce</h1>
    <aside>
        <a href="/annonces/<%= annonce._id %>/editer">Editer une annonce</a>
    </aside>
    <div>
        <p>
            <span>Titre</span>
            <span><%= annonce.titre %></span>
        </p>
        <p>
            <span>Description</span>
            <span><%= annonce.description %></span>
        </p>
        <p>
            <span>Adresse</span>
            <span><%= annonce.adresse %></span>
        </p>
        <p>
            <span>Code postal</span>
            <span><%= annonce.code_postal %></span>
        </p>
        <p>
            <span>Ville</span>
            <span><%= annonce.ville %></span>
        </p>
        <p>
            <span>Prix</span>
            <span><%= annonce.prix %></span>
        </p>
    </div>
</main>
